.gr1 {
    background-image: linear-gradient(#067808, #44c246);
}

.gr2 {
    background-image: linear-gradient(#a38e03, #dade14);
}

.gr3 {
    background-image: linear-gradient(#9004ba, #ca4af0);
}

.gr4 {
    background-image: linear-gradient(#0459b5, #397cf7);
}

.photo_rounded {
    overflow: hidden;
    width: 11.5em;
    height: 11.5em;
    object-fit: contain;
    border-radius: 50%;
    background: #0a53be;
}
.photo_rounded img {
    transition: ease-in-out 0.3s;
}

.selamat {
    position: relative;
    font-size: 2vw;
    color: #fff;
    margin: auto;
    padding: 15px;
    line-height: 1.3;
}

.clients {
    padding: 10px 0 30px 0;
    text-align: center;
}

.clients img {
    max-width: 95%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
}

.clients img:hover {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .clients img {
        max-width: 95%;
    }
}
.arab_bg {
    /*background-color: #188c74;*/
    background-image: linear-gradient(#188c74, #40c4a4);
}

.animated_arab {
    position: relative;
    font-family: 'Amiri', serif;
    font-size: 5vw;
    color: #fff;
    margin: auto;
    padding: 15px;
    line-height: 1.3;
}

.animated_arab::after {
    content: "|";
    color: #fff;
    font-weight: bold;
    animation: ngetik 0.5s ease-in-out infinite;
    margin-right: 5px;
}

@keyframes ngetik {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}